<main>
  <h1>Was sparen Sie mit dem Ecoturbino®?</h1>
  <form *ngIf="form" [formGroup]="form" (submit)="submit()">
    <div class="vat-form-container">
      <h2>Verwendung</h2>

      <mat-radio-group formControlName="useVat">
        <mat-radio-button [value]="true">Privat</mat-radio-button>
        <mat-radio-button [value]="false">Gewerblich</mat-radio-button>
      </mat-radio-group>

      <p class="hint">({{ getPriceHint() }})</p>
    </div>

    <div class="form-fields-container">
      <div class="start-situation form" formGroupName="startSituation">
        <h2>Ausgangssituation</h2>
        <p class="hint">Bitte das Formular vollständig ausfüllen</p>

        <mat-form-field>
          <mat-label>Anzahl Duschen</mat-label>
          <input formControlName="showers" matInput type="number" />
          <!-- <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
          <mat-icon>close</mat-icon>
        </button> -->
        </mat-form-field>
        <mat-form-field>
          <mat-label>Auslastung</mat-label>
          <span matSuffix>%</span>
          <input formControlName="workload" matInput type="number" />
        </mat-form-field>
        <!-- TODO: Dynamic like with price, according to whether its private or a company (->Nutzungsfaktor) -->
        <mat-form-field>
          <mat-label>Personen/Dusche</mat-label>
          <input formControlName="personsPerShower" matInput type="number" />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Duschdauer</mat-label>
          <span matSuffix>min</span>
          <input formControlName="showerDuration" matInput type="number" />
        </mat-form-field>
        <mat-form-field>
          <span matSuffix>%</span>
          <mat-label>tägliche Nutzung</mat-label>
          <input formControlName="dailyUsagePerPerson" matInput type="number" />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Wasserdurchfluss</mat-label>
          <input formControlName="waterFlow" matInput type="number" />
        </mat-form-field>
      </div>

      <div class="costs-form" formGroupName="costs">
        <h2>Kosten</h2>

        <mat-form-field>
          <mat-label>Heizmittel</mat-label>
          <mat-select formControlName="heatingMeans">
            <mat-option *ngFor="let option of heatingOptions" [value]="option">
              {{ option.displayName }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Stückpreis Ecoturbino</mat-label>
          <input formControlName="unitPrice" matInput type="number" />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Kaltwasserpreis</mat-label>
          <input formControlName="coldwaterPrice" matInput type="number" />
        </mat-form-field>
        <!-- TODO: Dynamic Price field -->
        <mat-form-field>
          <mat-label>Preis</mat-label>
          <input formControlName="price" matInput type="number" />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Abwasserpreis</mat-label>
          <input formControlName="wasteWaterPrice" matInput type="number" />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Zusatzkosten</mat-label>
          <input formControlName="additionalCosts" matInput type="number" />
        </mat-form-field>
      </div>
    </div>

    <!-- TODO: Change order on smaller screensizes, so the optional form-field and the buttons are always last -->
    <div class="optional-form-container" formGroupName="optional">
      <h2>Optionale Angaben</h2>
      <mat-form-field class="project-name-input">
        <mat-label>Projektname</mat-label>
        <input formControlName="projectName" matInput />
      </mat-form-field>
      <mat-form-field class="email-input">
        <mat-label>E-Mail-Adresse</mat-label>
        <input
          type="email"
          matInput
          formControlName="email"
          placeholder="max@example.com"
        />
        <mat-error *ngIf="email?.invalid && email?.touched">
          Bitte geben Sie eine gültige E-Mail Adresse ein
        </mat-error>
      </mat-form-field>

      <button mat-raised-button color="primary" type="submit">
        PDF Download
      </button>
      <button mat-raised-button color="primary" type="submit">
        PDF-Versand per Mail
      </button>
    </div>
  </form>

  <!-- TODO: Fix color scheme [scheme]="", make bars smaller? -->
  <div class="chart-container">
    <ngx-charts-bar-vertical-2d
      [results]="chartData"
      [gradient]="false"
      [xAxis]="true"
      [yAxis]="true"
      [legend]="true"
      [showXAxisLabel]="false"
      [showYAxisLabel]="false"
      [animations]="true"
      (select)="onSelect($event)"
    >
    </ngx-charts-bar-vertical-2d>
  </div>
</main>
