main {
  padding: 1em;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  form,
  .form-container {
    display: flex;
    flex-direction: column;

    .main-forms {
      display: flex;
      gap: 1rem;

      // Medium screen
      // @media all and (min-width: 600px) {
      // }

      // // Large screens
      // @media all and (min-width: 400px) {
      //   flex-direction: row;
      //   .form {
      //     display: flex;
      //     flex-direction: column;
      //   }
      //   .start-situation {
      //     padding-right: 1rem;
      //   }
      // }
    }

    .button-group {
      button:first-child {
        margin-right: 1rem;
      }
    }
  }

  .vat-form-container {
    .mat-radio-group {
      .mat-radio-button {
        padding: 0.5rem;
      }
    }
  }

  .chart-container {
    margin: 2rem;
    display: flex;
    width: 100%;
    height: 300px;
    justify-self: center;
    align-self: center;

    // Medium screen
    @media all and (min-width: 600px) {
      width: 700px;
    }
  }

  .optional-form-container {
    .project-name-input {
      padding-right: 1rem;
    }
  }

  .hint {
    opacity: 0.6;
    font-style: italic;
  }
}
