main {
  padding: 1em;
  display: flex;
  // flex-direction: column;
  flex-wrap: wrap;

  .vat-form-container {
    .mat-radio-group {
      .mat-radio-button {
        padding: 0.5rem;
      }
    }
  }

  .form-fields-container {
    display: flex;
    flex-direction: column;

    // Medium screen
    @media all and (min-width: 600px) {
    }

    // Large screens
    @media all and (min-width: 400px) {
      flex-direction: row;
      .form {
        display: flex;
        flex-direction: column;
      }
      .start-situation {
        padding-right: 1rem;
      }
    }
  }

  .chart-container {
    margin: 2rem;
    display: flex;
    width: 100%;
    height: 300px;
    justify-self: center;
    align-self: center;

    // Medium screen
    @media all and (min-width: 600px) {
      width: 700px;
    }

    // width: 100%;
    // justify-content: space-evenly;
    // .chart {
    //   width: 400px;
    // }
    // flex: 1 1 50%;
    // display: flex;
    // flex-direction: column;

    // // Medium screen
    // @media all and (min-width: 600px) {
    // }

    // // Large screens
    // @media all and (min-width: 400px) {
    //   flex-direction: row;
    //   .form {
    //     display: flex;
    //     flex-direction: column;
    //   }
    //   .start-situation {
    //     padding-right: 1rem;
    //   }
    // }
  }

  .optional-form-container {
    .project-name-input {
      padding-right: 1rem;
    }
  }

  .hint {
    opacity: 0.6;
    font-style: italic;
  }
}
